.image-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    margin-bottom: 50px;
  }
  
  .navbar-custom {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .container-custom {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .navbar-brand {
    cursor: pointer;
  }
  
  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
  }
  
  .image-wrapper img {
    max-width: 100%;
    height: auto;
  }