
#menu {
    background-color: #F2E4C0; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .menu-image {
    max-width: 200px; 
    border-radius: 8px;
  }
  
  .menu-logo {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
  }
  
  .menu-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    font-family: 'Pacifico', cursive; 
  }
  /* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
    .menu-image {
        max-width: 40%; /* Image prend 50% de la largeur de l'écran */
    }

    .menu-logo {
        max-width: 50%; /* Logo prend 70% de la largeur de l'écran */
    }

    .menu-title {
        font-size: 4vw; /* Taille de police qui s'ajuste au viewport */
    }
}

@media (max-width: 480px) {
    .menu-image {
        max-width: 60%; /* Image prend 80% de la largeur de l'écran */
    }

    .menu-logo {
        max-width: 60%; /* Logo prend 90% de la largeur de l'écran */
    }

    .menu-title {
        font-size: 5vw; /* Taille de police qui s'ajuste encore plus aux petits écrans */
    }
}
